

<!-- <nav>
    <ul>
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">First Component</a></li>
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Second Component</a></li>
    </ul>
  </nav> -->
 
  <!-- <router-outlet>
    <header>
        <div>
            <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" routerLink="/">Home</a>
                    <a class="nav-item nav-link" (click)="logout()">Logout</a>
                </div>
            </nav>    </div>
        </header>
    <app-login></app-login>
  </router-outlet> -->
  <div class="container">
    <router-outlet></router-outlet>
</div>